.recipe-thumb{
    background-color: transparent;
    border: none;
    width: 300px;
}

.recipe-thumb .wrapper {
    position: relative;
    overflow: hidden;
}
.recipe-thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 0;
    display: block;
}

.recipe-thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.recipe-thumb:hover .overlay {
    visibility: visible;
}

.recipe-thumb .name {
    Font-Size: 28px;
    Color: #434343;
}

.recipe-thumb .description {
    font-size: 18px;
    text-align: left;
    padding-left:10px;
    padding-right:10px;
}

.recipe-thumb footer {
    font-size: 16px;
    padding-left:10px;
    padding-right:10px;
    height: 20px;
    bottom: 0;
}